*{
    margin: 0;
    padding: 0;
}

/* header */

header{
    width: 100%;
    height: 6.8vw;
    background-color: #2d3e50;
}
header img{
    margin: -0.6%;
    width: 8%;
}
.quicklinks{
    padding-left: 50%;
    margin-top: -4.5%;
}
.selected{
    color: white;
}
.notselected{
    color: #f59d10;
}
.quicklinks a{
    padding-left: 3%;
    font-size: 1.3vw;
    padding-right: 3%;
    text-decoration: none;
    font-weight: bold;
    transition: ease-in-out 0.4s;
}
.quicklinks a:hover{
   color: white;
}

/* Featured jobs */

.featured{
    width: 100%;
    height: 60vh;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(Res/keyboardred.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* margin-top: 3%; */
    color: #fff;
    font-size: 2.8vw;
    font-weight: bold;
}
.projects{
    margin-top: 12.5%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.unsplash{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.unsplash img{
    width: 379px;
    padding-left: 0.07%;
    padding-right: 0.07%;
    padding-top: 0.1%;
}

.usplash{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.usplash img{
    width: 379px;
    padding-left: 0.07%;
    padding-right: 0.07%;
    /* padding-top: 0.1%; */
}

.splash{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.splash img{
    width: 379px;
    padding-left: 0.07%;
    padding-right: 0.07%;
    /* padding-top: 0.1%; */
}

 /* footer */
 .footer{
    margin-top: 1%;
    width: 100%;
    height: 3.5vw;
    background-color: #2d3e50;
    display: flex;
    justify-content: center;
  }
  .footer p{
    padding: 1% 0 0;
    color: white;
  }

.whatsapp{
    position: fixed;
    bottom: 3vw;
    right: -40vw;
}

/* Response */

/* 1368px >> */

@media screen and (min-width: 1368px) {
    
    .unsplash img, .usplash img, .splash img{
       width: 30%;
       margin: 0.5% 0;
    }
   .featured{
       width: 100%;
       height: 40vw;
       margin-bottom: 1%;
       background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(Res/keyboardred.jpg);
       background-repeat: no-repeat;
       background-size: cover;
       background-attachment: fixed;
       /* margin-top: 3%; */
       color: #fff;
       font-size: 2.8vw;
       font-weight: bold;
   }
   header{
       width: 100%;
       height: 9vw;
       background-color: #2d3e50;
   }
   header img{
       margin: 1%;
       width: 8%;
   }
   .quicklinks{
       padding-left: 30%;
       margin-top: -6.5%;
   }
   .quicklinks a{
       padding-left: 1%;
       font-size: 1.8vw;
       padding-right: 3%;
       text-decoration: none;
       font-weight: bold;
       transition: ease-in-out 0.4s;
   }
   .projects
   {
       margin-left: auto;
       margin-top: 18%;
       font-size: 4vw;
   }
   
   .whatsapp{
    position: fixed;
    bottom: 4vw;
    right: -65vw;
    width: 75%;
}
   .footer{
       height: 5vw;
   }
   .footer p{
       margin-top: 0.7%;
       font-size: 1.5vw;
     }
}

/* 1024px */

@media screen and (max-width: 1025px) {
    
    .unsplash img, .usplash img, .splash img{
       width: 450px;
       margin: 0.5% 0;
    }
   .featured{
       width: 100%;
       height: 60vw;
       margin-bottom: 1%;
       background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(Res/keyboardred.jpg);
       background-repeat: no-repeat;
       background-size: cover;
       background-attachment: fixed;
       /* margin-top: 3%; */
       color: #fff;
       font-size: 2.8vw;
       font-weight: bold;
   }
   header{
       width: 100%;
       height: 9vw;
       background-color: #2d3e50;
   }
   header img{
       margin: 1%;
       width: 8%;
   }
   .quicklinks{
       padding-left: 30%;
       margin-top: -6.5%;
   }
   .quicklinks a{
       padding-left: 1%;
       font-size: 1.8vw;
       padding-right: 3%;
       text-decoration: none;
       font-weight: bold;
       transition: ease-in-out 0.4s;
   }
   .projects
   {
       margin-left: auto;
       margin-top: 25%;
       font-size: 4vw;
   }
   
   .whatsapp{
    position: fixed;
    bottom: 3vw;
    right: -85vw;
    width: 100%;
}
   .footer{
       height: 5vw;
   }
   .footer p{
       margin-top: 0.7%;
       font-size: 2.2vw;
     }
}

/* 820px */

@media screen and (max-width: 821px) {
    
    .unsplash img, .usplash img, .splash img{
       width: 380px;
       margin: 0.5% 0;
    }
   .featured{
       width: 100%;
       height: 60vw;
       margin-bottom: 1%;
       background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(Res/keyboardred.jpg);
       background-repeat: no-repeat;
       background-size: cover;
       background-attachment: fixed;
       /* margin-top: 3%; */
       color: #fff;
       font-size: 2.8vw;
       font-weight: bold;
   }
   header{
       width: 100%;
       height: 9vw;
       background-color: #2d3e50;
   }
   header img{
       margin: 1%;
       width: 8%;
   }
   .quicklinks{
       padding-left: 30%;
       margin-top: -7%;
   }
   .quicklinks a{
       padding-left: 1%;
       font-size: 1.8vw;
       padding-right: 3%;
       text-decoration: none;
       font-weight: bold;
       transition: ease-in-out 0.4s;
   }
   .projects
   {
       margin-left: auto;
       margin-top: 25%;
       font-size: 4vw;
   }
   
   .whatsapp{
    position: fixed;
    bottom: 4vw;
    right: -85vw;
}
   .footer{
       height: 6vw;
   }
   .footer p{
       margin-top: 0.7%;
       font-size: 2.2vw;
     }
}

/* 768px */

@media screen and (max-width: 769px) {
    
    .unsplash img, .usplash img, .splash img{
       width: 250px;
       margin: 0.5% 0;
    }
   .featured{
       width: 100%;
       height: 60vw;
       margin-bottom: 1%;
       background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(Res/keyboardred.jpg);
       background-repeat: no-repeat;
       background-size: cover;
       background-attachment: fixed;
       /* margin-top: 3%; */
       color: #fff;
       font-size: 2.8vw;
       font-weight: bold;
   }
   header{
       width: 100%;
       height: 9vw;
       background-color: #2d3e50;
   }
   header img{
       margin: 1%;
       width: 8%;
   }
   .quicklinks{
       padding-left: 30%;
       margin-top: -7%;
   }
   .quicklinks a{
       padding-left: 1%;
       font-size: 1.8vw;
       padding-right: 3%;
       text-decoration: none;
       font-weight: bold;
       transition: ease-in-out 0.4s;
   }
   .projects
   {
       margin-left: auto;
       margin-top: 25%;
       font-size: 4vw;
   }
   
   .whatsapp{
    position: fixed;
    bottom: 4vw;
    right: -67vw;
}
   .footer{
       height: 6vw;
   }
   .footer p{
       margin-top: 0.7%;
       font-size: 2.2vw;
     }
}

/* 540px */

@media screen and (max-width: 541px) 
{
    .whatsapp{
        position: fixed;
        bottom: 4vw;
        right: -87vw;
    }
}
/* 430px */

@media screen and (max-width: 431px) {
    
    .unsplash img, .usplash img, .splash img{
       width: 340px;
       margin: 0.5% 0;
    }
   .featured{
       width: 100%;
       height: 45vw;
       background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(Res/keyboardred.jpg);
       background-repeat: no-repeat;
       background-size: cover;
       background-attachment: fixed;
       /* margin-top: 3%; */
       color: #fff;
       font-size: 2.8vw;
       font-weight: bold;
   }
   header{
       width: 100%;
       height: 9vw;
       background-color: #2d3e50;
   }
   header img{
       margin: 1%;
       width: 8%;
   }
   .quicklinks{
       padding-left: 15%;
       margin-top: -9%;
   }
   .quicklinks a{
       padding-left: 1%;
       font-size: 2.9vw;
       padding-right: 3%;
       text-decoration: none;
       font-weight: bold;
       transition: ease-in-out 0.4s;
   }
   .projects
   {
       margin-left: auto;
       margin-top: 18%;
       font-size: 4vw;
   }
   .whatsapp{
    position: fixed;
    bottom: 3vw;
    right: -35vw;
    }
   .footer{
       height: 6vw;
   }
   .footer p{
       margin-top: 0.7%;
       font-size: 2.2vw;
     }
}


/* 414px */

@media screen and (max-width: 415px) {
    
    .unsplash img, .usplash img, .splash img{
       width: 340px;
       margin: 0.5% 0;
    }
   .featured{
       width: 100%;
       height: 45vw;
       background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(Res/keyboardred.jpg);
       background-repeat: no-repeat;
       background-size: cover;
       background-attachment: fixed;
       /* margin-top: 3%; */
       color: #fff;
       font-size: 2.8vw;
       font-weight: bold;
   }
   header{
       width: 100%;
       height: 9vw;
       background-color: #2d3e50;
   }
   header img{
       margin: 1%;
       width: 8%;
   }
   .quicklinks{
       padding-left: 15%;
       margin-top: -8%;
   }
   .quicklinks a{
       padding-left: 1%;
       font-size: 2.9vw;
       padding-right: 3%;
       text-decoration: none;
       font-weight: bold;
       transition: ease-in-out 0.4s;
   }
   .projects
   {
       margin-left: auto;
       margin-top: 18%;
       font-size: 4vw;
   }
   .whatsapp{
    position: fixed;
    bottom: 3vw;
    right: -85vw;
}
   .footer{
       height: 6vw;
   }
   .footer p{
       margin-top: 0.8%;
       font-size: 2.2vw;
     }
}

/* 390px */

@media screen and (max-width: 391px) {
    
    .unsplash img, .usplash img, .splash img{
       width: 340px;
       margin: 0.5% 0;
    }
   .featured{
       width: 100%;
       height: 45vw;
       background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(Res/keyboardred.jpg);
       background-repeat: no-repeat;
       background-size: cover;
       background-attachment: fixed;
       /* margin-top: 3%; */
       color: #fff;
       font-size: 2.8vw;
       font-weight: bold;
   }
   header{
       width: 100%;
       height: 9vw;
       background-color: #2d3e50;
   }
   header img{
       margin: 1%;
       width: 8%;
   }
   .quicklinks{
       padding-left: 15%;
       margin-top: -9%;
   }
   .quicklinks a{
       padding-left: 1%;
       font-size: 2.9vw;
       padding-right: 3%;
       text-decoration: none;
       font-weight: bold;
       transition: ease-in-out 0.4s;
   }
   .projects
   {
       margin-left: auto;
       margin-top: 18%;
       font-size: 4vw;
   }
   .footer{
       height: 6vw;
   }
   .footer p{
       margin-top: 0.8%;
       font-size: 2.2vw;
     }
}

/* 375px */

@media screen and (max-width: 376px) {
    
     .unsplash img, .usplash img, .splash img{
        width: 290px;
        margin: 0.5% 0;
     }
    .featured{
        width: 100%;
        height: 45vw;
        background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(Res/keyboardred.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        /* margin-top: 3%; */
        color: #fff;
        font-size: 2.8vw;
        font-weight: bold;
    }
    header{
        width: 100%;
        height: 9vw;
        background-color: #2d3e50;
    }
    header img{
        margin: 1%;
        width: 8%;
    }
    .quicklinks{
        padding-left: 15%;
        margin-top: -9%;
    }
    .quicklinks a{

        padding-left: 1%;
        font-size: 2.9vw;
        padding-right: 3%;
        text-decoration: none;
        font-weight: bold;
        transition: ease-in-out 0.4s;
    }
    .projects
    {
        margin-left: auto;
        margin-top: 18%;
        font-size: 4vw;
    }
    .footer{
        height: 6vw;
    }
    .footer p{
        margin-top: 0.8%;
        font-size: 2.2vw;
      }
}

/* 280px */

@media screen and (max-width: 281px) {
    
    .unsplash img, .usplash img, .splash img{
       width: 240px;
       margin: 0.5% 0;
    }
   .featured{
       width: 100%;
       height: 45vw;
       background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(Res/keyboardred.jpg);
       background-repeat: no-repeat;
       background-size: cover;
       background-attachment: fixed;
       /* margin-top: 3%; */
       color: #fff;
       font-size: 2.8vw;
       font-weight: bold;
   }
   header{
       width: 100%;
       height: 9vw;
       background-color: #2d3e50;
   }
   header img{
       margin: 1%;
       width: 8%;
   }
   .quicklinks{
       padding-left: 15%;
       margin-top: -10%;
   }
   .quicklinks a{
       padding-left: 1%;
       font-size: 2.9vw;
       padding-right: 3%;
       text-decoration: none;
       font-weight: bold;
       transition: ease-in-out 0.4s;
   }
   .projects
   {
       margin-left: auto;
       margin-top: 18%;
       font-size: 4vw;
   }
   .footer{
       height: 6vw;
   }
   .footer p{
       margin-top: 0.8%;
       font-size: 2.2vw;
     }
     .whatsapp{
        position: fixed;
        bottom: 4vw;
        right: -87vw;
    }
}